<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
         <type name="Magento\GraphQl\Controller\GraphQl">
            <plugin name ="InstrumentGQlControllerBeforeDispatch"
            type="MyVendor\MagentoSentry\Plugin\InstrumentGQlControllerBeforeDispatch"
            sortOrder="1"/>
            <plugin name ="InstrumentGQlControllerAfterDispatch"
            type="MyVendor\MagentoSentry\Plugin\InstrumentGQlControllerAfterDispatch"
            sortOrder="9999"/>
        </type>
         <type name="Magento\Webapi\Controller\Rest">
            <plugin name="InstrumentFrontControllerBeforeDispatch"
                type="MyVendor\MagentoSentry\Plugin\InstrumentFrontControllerBeforeDispatch"
                sortOrder="1"/>
            <plugin name="InstrumentFrontControllerAfterDispatch"
                type="MyVendor\MagentoSentry\Plugin\InstrumentFrontControllerAfterDispatch"
                sortOrder="9999"/>
        </type>
        <type name="Magento\Framework\AppInterface">
            <plugin disabled="false" name="SentryOnAppStart" type="MyVendor\MagentoSentry\Plugin\SentryOnAppStart"
                sortOrder="0"/>
        </type>
</config>        